.program-header-details {
  background-color: #370f76 !important;
}
.benefits-widget {
  display: flex;
  flex-wrap: wrap;
  margin: 70px 0;
}
.benefits-widget-details {
  padding: 115px 50px;
  background-color: #d0d877;
  width: 47%;
}
.overline {
  position: relative;
  line-height: 1;
  font-size: 38px;
  font-weight: bolder;
}
.overline:after {
  content: "";
  position: absolute;
  top: -25px;
  left: 0;
  height: 5px;
  width: 50px;
}
.benefits-widget-details .title {
  color: #1b1464;
}
.benefits-widget-details .title:after {
  background-color: #370f76;
}
.benefits-widget-view {
  width: 53%;
  background-size: cover;
  background-position: center center;
}
.benefits-content ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.benefit-title {
  width: 48%;
  font-size: 16px;
  color: #585858;
  position: relative;
  padding-left: 20px;
  margin-bottom: 30px;
}
.benefit-title:after {
  content: "";
  position: absolute;
  top: 9px;
  left: 0;
  border-radius: 50%;
  border: 1px solid #4f17a8;
  width: 8px;
  height: 8px;
}
.ti-widget {
  flex-direction: row-reverse;
}
.tra-inst-widget {
  display: flex;
}
.tra-inst-widget > div {
  width: 50%;
}
.ti-widget-details .title {
  color: #1b1464;
}
.ti-widget .benefits-widget-details {
  background-color: #e6e6e6;
}
.certificate-types {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 50px;
}
.certificate-type {
  border: 1px solid #c7c7c7;
  padding: 23px 26px;
  width: calc(33.3% - 17px);
  margin-bottom: 34px;
}
.certificate-title {
  font-size: 30px;
  font-weight: normal;
  color: #1b1464;
}
.certificate-title sup {
  font-size: 15px;
}
.application-link {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.became-a {
  width: 130px;
}
.became-a .title {
  line-height: 1.2;
  text-transform: uppercase;
  font-weight: bold;
}
.relative-sm-title {
  position: relative;
  top: -50px;
  font-weight: bold;
  font-size: 18px;
  color: #1b1464;
}
.widget-img-text {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.widget-img-text:nth-of-type(even) {
  flex-direction: row-reverse;
}
.widget-img-text > div {
  width: 47%;
}
.widget-img-text .title {
  font-size: 31px;
  font-weight: bold;
  line-height: 1.1;
  margin-bottom: 20px;
  color: #370f76 !important;
}
.widget-img-text .text {
  font-size: 18px;
  line-height: 1.5;
}
.tc-box {
  margin-bottom: 35px;
}

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
  .benefit-title {
    width: 100%;
  }
  .certificate-type {
    width: 100%;
  }
  .tc-container {
    margin-bottom: 30px;
  }
  .tc-box {
    margin-bottom: 50px;
  }
  .tc-title {
    padding-top: 25px !important;
    line-height: 1;
    font-size: 22px !important;
  }
  .tc-box .text {
    font-size: 15px;
  }
  .widget-img-text > div {
    width: 100%;
  }
  .widget-img-text .title {
    font-size: 26px;
    padding-top: 35px;
  }
  .widget-img-text .text {
    font-size: 16px;
  }
}

@media (max-width: 767.98px) {
  .application-link {
    margin-bottom: 35px;
  }
  .benefits-widget {
    width: calc(100% + 30px);
    margin: 0 -15px;
  }
  .description-about {
    margin-bottom: 30px;
  }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
  .benefit-title {
    width: 48%;
  }
  .certificate-type {
    width: 48%;
  }
  .tc-box {
    margin-bottom: 50px;
  }
  .tc-title {
    padding-top: 25px !important;
    line-height: 1;
    font-size: 25px !important;
  }
  .tc-box .text {
    font-size: 15px;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
  .certificate-type {
    width: 48%;
  }
}

@media (max-width: 991.98px) {
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
  .certificate-type {
    width: 48%;
  }
  .tc-title {
    font-size: 21px !important;
  }
}

@media (max-width: 1199.98px) {
  .benefits-widget {
    height: 330px;
    position: relative;
    margin-bottom: 80px;
  }
  .benefits-widget-details {
    position: absolute;
    bottom: -35px;
    width: 100%;
    padding: 45px 30px 20px;
  }
  .benefits-widget-view {
    width: 100%;
    height: 100%;
  }
  .benefits-widget-details .overline {
    font-size: 30px;
  }
  .benefits-widget-details .overline:after {
    top: -19px;
    height: 4px;
  }
  .relative-sm-title {
    top: -32px;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}
