.certificate-header {
  height: 440px;
  display: flex;
}
.certificate-header-details {
  display: flex;
  /* align-items: center; */
  padding: 110px 50px 50px;
}
.certificate-header-details .title {
  font-weight: bolder;
  font-size: 45px;
}
.our-text {
  margin-bottom: 55px;
  font-size: 23px;
  position: relative;
}
.our-text:after {
  content: "";
  position: absolute;
  left: 0;
  top: -17px;
  height: 4px;
  width: 50px;
  background-color: #D9E362;
}
.certificate-header > div {
  height: 100%;
}
.certificate-header-details {
  width: 400px;
  background-color: #4F17A8;
}
.certificate-header-view {
  width: calc(100% - 400px);
  background-size: cover;
}
.certification-widget {
  display: flex;
  margin-bottom: 35px;
}
.certificate-widget-details {
  background-color: #0101A3;
  width: 55%;
  padding: 65px 50px;
}
.certificate-widget-view {
  width: 45%;
  background-size: cover;
  background-position: center;
}
.certificate-widget-details .title {
  font-size: 45px
}
.overview {
  margin-bottom: 80px;
}
.bg-title {
  font-size: 37px;
  line-height: 1;
  font-weight: bold;
  color: #0112A3;
}
.pagination-header {
  font-size: 22px;
  border-bottom: 1px solid #00000030;
  padding-bottom: 10px;
  color: #030D67;
}
.pagination-content {
  display: flex;
  justify-content: space-between;
}
.pagination-content > div {
  width: 31%;
  display: flex;
  flex-wrap: wrap;
  align-content: space-between
}
.pagination-content > div > div {
  width: 100%;
}
.pagination-columns .title {
  font-weight: normal;
  padding: 13px 0;
  border-bottom: 1px solid #00000040;
  font-size: 18px;
  color: #1B1464;
}
.pagination-links {
  display: flex;
  flex-wrap: wrap;
  padding: 20px 0 45px;
}
.pagination-link {
  width: 100%;
  color: #696969;
  font-size: 17px;
  margin-bottom: 12px;
}
.pagination-counter {
  color: #797979;
  font-size: 15px;
}
.pagination-container {
  margin-bottom: 40px;
}
.certification-widget-images {
  padding: 50px 40px;
  background-color: #DFDFE2;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-bottom: 60px;
}
.certification-widget-images img {
  margin-left: 35px;
  width: 215px;
}
.cw-article {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}
.cw-image {
  width: 220px;
  height: 220px;
}
.cw-image img {
  width: 100%;
  height: 100%;
}
.cw-details {
  width: calc(100% - 260px);
  padding: 30px 0;
}
.cw-details .title {
  margin-bottom: 15px;
}
.text {
  color: #696969;
}
