.mainColor {
  color: #4F17A8
}
.mainBackground {
  background-color: #4F17A8
}

.paleMainColor {
  color: #1B1464
}
.paleMainBackground {
  background-color: #1B1464
}

.goldColor {
  color: #D0D877
}
.goldColorBackground {
  background-color: #D0D877
}

.yellowColor {
  color: #e0ea79
}
.backgroundYellowColor {
  background: #e0ea79
}
